# =========================
# ANGULAR
# =========================
/dist/
/out-tsc/
/tmp/
/coverage/
/.angular/
.ng/
*.tsbuildinfo

# =========================
# NODE
# =========================
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# ENVIRONMENTS
# =========================
.env

# =========================
# FIREBASE
# =========================
.firebase/

# Credenciales privadas Firebase
*firebase-adminsdk*.json

# =========================
# CACHE
# =========================
.cache/

# =========================
# IA / AGENTES
# =========================
.agents/

# =========================
# EDITORES
# =========================
.vscode/

# =========================
# SISTEMA OPERATIVO
# =========================
.DS_Store
Thumbs.db